* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.topnav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #540B51;
}

.topnav-container img {
    display: flex;
    align-items: flex-start;
    height: 20%;
    width: 20%;
    margin: 5%;
}

.topnav-container li {
    display: flex;
}

.search-menu {
    display: flex;
}

.header-container {
    display: flex;

}

.header-container h1 {
    display: flex;
    color: white;
    font-size: xx-large;
    justify-content: center;

}

.header-container img {
    max-width: 100%;
    height: auto;
}

#sign-in {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

#app-screen {
    display: flex;
    max-width: 100%;
    justify-content: center;
}

#app-screen img {
    max-width: 100%;
    height: auto;
}


p {
    color: #ECB12F;
}

.marketing {
    background-color: #F3EAE2;
    max-width: 100%;
}

.marketing > p {
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marketing img {
    max-width: 100%;
    height: auto;
}

.marketing .logo-clients {
    display: flex;
    flex-flow: row wrap;
    padding: 3rem;
  
}

.marketing .logo-clients img {
    height: 4.5rem;
    width: auto;
    padding: 1rem;
    margin-left: 1rem;
}

.marketing h2 {
    display: flex;
    justify-content: center;
    font-weight: 500;
    padding-top: 1rem;
    font-size: x-large;
}

.marketing p {
    display: flex;
    color:black;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: large;
    text-align: center;
    margin:0 10% 0 10%;
}

.marketing .learn-more {
    display: flex;
    justify-content: center;
    color: #2E71A6;
    padding-bottom: 1rem;
}

#CTA-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    list-style: none;
}

#CTA-stats .key-stats {
    display: flex;
    justify-content: center;
    text-align: center;
}

#CTA-stats .stats {
    color: #540B51;
    font-weight: 900;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    text-align: center;
    flex-direction: column;
}

#CTA-stats p {
    color: black;
    display: flex;
    justify-content: center;
    max-width: 50%;
    padding: .3rem;
    margin: 2rem;
    text-align: center;
    font-weight: bold;
}

#CTA-stats li {
    list-style: none;
    text-align: center;
}

#CTA-stats h3 {
    display: flex;
    justify-content: center;
    font-size: x-large;
}

#closing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #540B51;
    padding: 5rem;

}

#closing h3 {
    display: flex;
    text-align: center;
    color:white;
    font-size: xx-large;
    max-width: 100%;
}

#closing #free-trial{
    background-color: white;
    color: #540B51;
    padding: 1rem;
}



/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
